.appPostForm {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
  background-color: #fff;
  width: 350px;
  height: 300px;
  padding: 35px 0;
  text-align: center;
  border-radius: 10px;
}

.appPostForm > div {
  margin-top: 10px;
}
textarea {
  height: 100px;
  overflow-y: hidden;
}
input,
textarea {
  font-family: "Poppins", serif;
  width: 250px;
  border: 2px solid #ccc;
  resize: none;
  font-size: 20px;
  outline: none;
  border-radius: 5px;
  padding: 5px;
}
.formTitle {
  font-size: 20px;
  margin: 0;
  color: #000;
  margin-bottom: 20px;
}
.hideBtn {
  background-color: unset;
  border: none;
  position: absolute;
  top: 5px;
  right: 5px;
}
.add-btn {
    background-color: #282828;
    border: 1px solid #282828;
    padding: 10px 30px;
    color: #ffff;
    border-radius: 10px;
    font-family: 'Roboto';
    font-weight: 700;
    cursor: pointer;
}

@media (max-width: 400px) {
  .appPostForm {
    width: 225px;
    padding: 25px 0;
  }
  .save-changes {
    width: 170px;
    padding: 5px 0;
  }
  input {
    width: 170px;
    font-size: 15px;
  }
  textarea {
    width: 170px;
    font-size: 15px;
  }
  .formTitle {
    font-size: 15px;
  }
}
