.login-page {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.login-btn {
    background-color: #282828;
    border: 1px solid #282828;
    padding: 10px 30px;
    color: #ffff;
    border-radius: 10px;
    font-family: 'Roboto';
    font-weight: 700;
    cursor: pointer;
    width: 100%;
}
.login-heading {
    font-family: 'Montserrat';
    text-align: center;
    font-size: 30px;
    padding-bottom: 10px;
}
.login-input {
    margin-bottom: 10px;
}
.login-button {
    text-align: center;
}

@media screen and (max-width: 400px) {
    .login-input {
        text-align: center;
    }
}